body {
    user-select: none;
    display: flex;
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.background {
    position: absolute;
    top: 15%;
    background: url(tablet.png);
    background-repeat: no-repeat;
    background-size: 1150px 750px;
    height: 760px;
    width: 1150px;
    z-index: 100;
}
.tabletoverall {
    position: absolute;
    z-index: 100;
    height: 620px;
    width: 1020px;
    left: 64px;
    top: 65px;
}
.innereditarea {
    position: absolute;
    width: 100%;
    top: -5px;
    height: 640px;
}
.tabletuserdata{
    width: 100%;
    height: 100%;
}